mixin navbar
  nav.navbar.navbar-expand-lg.navbar-light.bg-warning
    a.navbar-brand(href='#'): img(src="/assets/logo.png", style="height:40px;", alt="cubizz", srcset="") 
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo02', aria-controls='navbarTogglerDemo02', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarTogglerDemo02.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        li.nav-item.active
          a.nav-link(href='/')
            | Inicio 
        li.nav-item
          a.nav-link(href='/quienes-somos') Quienes somos
        li.nav-item
          a.nav-link(href='/productos') Productos
        li.nav-item
          a.nav-link(href='/contactanos') Contactanos
      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(type='search', placeholder='Buscar')
        button.btn.btn-outline-danger.my-2.my-sm-0(type='submit') Buscar

mixin footer
  footer.pt-4.my-md-5.pt-md-5.border-top
    .container: .row
      .col-12.col-md
        img.mb-2(src='/assets/logo.png', alt='', width='90')
        small.d-block.mb-3.text-muted © 2017-2020
      .col-6.col-md
        h5 Informacion
        ul.list-unstyled.text-small
          li
            a.text-muted(href='#') Politica de privacidad
          li
            a.text-muted(href='#') Como comprar
          li
            a.text-muted(href='#') Terminos y condiciones
          li
            a.text-muted(href='#') Condiciones de entrega
          li
            a.text-muted(href='#') Ubicacion
          li
            a.text-muted(href='#') Sobre envios
      .col-6.col-md
        h5 Recursos
        ul.list-unstyled.text-small
          li
            a.text-muted(href='#') Equipo
          li
            a.text-muted(href='#') Ventas por mayor
          li
            a.text-muted(href='#') Reclamos
          li
            a.text-muted(href='#') Contacto
      .col-6.col-md
        h5 Otros
        ul.list-unstyled.text-small
          li
            a.text-muted(href='#') Mapa
          li
            a.text-muted(href='#') Tiendas
          li
            a.text-muted(href='#') Facebook
          li
            a.text-muted(href='#') Instagram
