include mixins
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="js/bootstrap.min.js")
  body
    +navbar
    div.bg-light
      h1.display-4.text-center.pt-5  Gran variedad de cubos
      div.container.pt-3
        div.text-center
          a.btn.btn-warning.text-light(style="font-weight: bold" href="https://cubizzperu.com/?v=3acf83834396") MIRA TODOS NUESTRO MODELOS AQUI

          a.btn.btn-success.text-light.ml-3(href='/crear') Crear producto
        h4.text-center.pt-4.pb-5(style="font-weight: 200") Una gran cantidad de cubos, puzzles y juguetes de los mas divertidos para toda la familia. Nuestra tienda ya cumple cerca de 4 años ofreciendo retos a todos los jóvenes.
        
    .container: .row
      each product in products
        .col-3
          div.card
            img.card-img-top(src=product.imagen)
            .card-body
              h5.card-title= product.nombre
              p.card-text= product.precio
              a.btn.btn-warning(href=`/editar/${product._id}`) Editar
              a.btn.btn-primary(href=`/eliminar/${product._id}`) Eliminar

    +footer
        
      

